#page:not(.edit) .if_edit { display: none; }

#inputBlock { width: 48%; float: right; }
#page.edit #outputBlock { width: 48%; float: left; margin: 0; }

div.FAIL { color: red; }
div.PASS { color: green; }
div.test-status { font-weight: bold;}
#output .unused { display: none; }
